@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

:root {
    --fontcolor: #226399;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--fontcolor);
}

.navigation{
    position: relative;
    width: 400px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
    text-transform: capitalize;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    color: var(--fontcolor);
    transition: 0.5s;
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text{
    position: absolute;
    color: var(--fontcolor);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    text-transform: uppercase;
    transform: translateY(20px);
    opacity: 0;
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #7bcaff;
    top: -50%;
    border-radius: 50%;
    border: 6px solid var(--fontcolor);
    transition: 0.5s;
}

.indicator::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    box-shadow: 1px -10px 0 var(--fontcolor);
    border-top-right-radius: 20px;
    top: 50%;
    left: -22.5px;
}

.indicator::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    box-shadow: 0 -10px 0 var(--fontcolor);
    border-top-left-radius: 20px;
    top: 50%;
    right: -22.5px;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}